
<div class="hero-section">
    <div class="hero-content">
    <h1 class="hero-title">Le Contrôle de Qualité et Tests : Garantir l'Excellence</h1>
    <p class="hero-description">
        Dans un environnement où la concurrence se joue sur la fiabilité et la performance des produits, les tests et le
        contrôle de qualité deviennent essentiels pour assurer des standards élevés et satisfaire les attentes des clients.
    </p>

    </div>
    <img src="../../../../assets/images/controle.jpg"
        alt="Le Contrôle de Qualité " class="hero-image" />
</div>
<app-type-controle></app-type-controle>
<app-rapport></app-rapport>
<app-information></app-information>
<app-contacter-admin></app-contacter-admin>
<app-footer></app-footer>

`



