<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="display-1 text-danger ">Oops!</h1>
            <h2 class="display-4">Page Introuvable !!</h2>
        </div>
    </div>


    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <p class="zoom-area">La page que vous recherchez a peut-être été supprimée, renommée ou est temporairement
        indisponible.

    </p>
    <div class="link-container">
        <a href="#" class="more-link">Retour à la page d'accueil</a>
    </div>
</div>