<section >
    
    <header class="case-studies-header">
        <h1 class="title">
            <span class="highlight">Fiches de rapports</span>
        </h1>
        <p class="description">
            Vous pouvez consulter les fiches de rapports de contrôle de qualité de vos produits.
         </p>
    </header>

    <div class="cta-card">
        <div class="cta-content">
            <h2 class="cta-title">Assurons une qualité optimale</h2>
            <p class="cta-description">
                Contactez-nous dès aujourd'hui pour découvrir comment nos rapports de contrôle de qualité peuvent vous
                aider
                à
                maintenir et améliorer vos standards.
            </p>
            <a class="cta-button" [routerLink]="['/home/consulter']"> votre rapport de contrôle de qualité</a>

        </div>
        <div>
            <img src="../../../../assets/images/rapport.png" alt="">
        </div>
    </div>
</section>